@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/SF_Pro_Display/SF-Pro-Display-Light.woff2") format("woff2"),
         url("/assets/fonts/SF_Pro_Display/SF-Pro-Display-Light.woff") format("woff");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/SF_Pro_Display/SF-Pro-Display-Regular.woff2") format("woff2"),
         url("/assets/fonts/SF_Pro_Display/SF-Pro-Display-Regular.woff") format("woff");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/SF_Pro_Display/SF-Pro-Display-Medium.woff2") format("woff2"),
         url("/assets/fonts/SF_Pro_Display/SF-Pro-Display-Medium.woff") format("woff");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/SF_Pro_Display/SF-Pro-Display-Semibold.woff2") format("woff2"),
    url("/assets/fonts/SF_Pro_Display/SF-Pro-Display-Semibold.woff") format("woff");
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/SF_Pro_Text/SFProText-Semibold.woff2") format("woff2"),
         url("/assets/fonts/SF_Pro_Text/SFProText-Semibold.woff") format("woff");
}