* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style-type: none;
}

body {
    background: #F5F5F5;
    margin-top: 24px;
}

.container {
    max-width: 1392px;
    margin: 0 auto;
    padding: 0 16px;
}

/*Header
===========================*/
.header {
    position:-webkit-sticky; 
    position:sticky; 
    top:24px;
    margin-bottom: 24px;
    z-index: 3;
}

.header-wrapper {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1D1D1D;

}

/*Promo
===========================*/
.promo {
    margin-bottom: 200px;
}

.promo__wrapper {
    background: #FFFFFF;
    border-radius: 40px;
    padding: 96px 0 222px;
}

.promo__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #1D1D1D;
    max-width: 1000px;
    margin: 0 auto 48px;
}

.map-wrapper {
    position: absolute;
    max-width: 291px;
    border-radius: 22px;
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo__hand-wrapper {
    position:-webkit-sticky; 
    position:sticky; 
    top: 24px;
    z-index: 1;
}

.hand-wrapper {
    position: absolute;
    left: 32%;
    right: 15.81%;
    top: 84px;
}

.phone-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.promo__text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 200px;
    background: linear-gradient(88.25deg, #2F90FC 3.55%, #73A6DF 47.79%, #BFBFBF 96.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    opacity: 0.5;
    margin-bottom: 80px;
}

.text-first {
    margin-top: 88px;
}

.text-second {
    text-align: right;
}

.text-third {
    margin-bottom: 0;
    text-align: center;
}


/*About
===========================*/
.about {
    margin-bottom: 200px;
}

.about__text {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 64px;
    line-height: 72px;
    background: linear-gradient(88.25deg, #2F90FC 3.55%, #73A6DF 47.79%, #BFBFBF 96.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*Advantages
===========================*/
.advantages {
    margin-bottom: 200px;
}

.advantage__wrapper {
    background: #FFFFFF;
    border-radius: 40px;
    padding: 96px 80px 128px;
}

.advantage__titles-wrapper {
    display: flex;
    column-gap: 24px;
    margin-bottom: 48px;
    flex-wrap: wrap;
}

.advantage__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 141px;
    line-height: 152px;
    color: #E0E0E0;
}

.advantage__title:hover {
    color: #343434;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s;
}

.advantage__title-active {
    color: #1D1D1D;
    transition: .5s;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s;
}

.advantage__text {
    max-width: 1130px;
    font-size: 64px;
    line-height: 72px;
    background: linear-gradient(88.25deg, #2F90FC 3.55%, #73A6DF 47.79%, #BFBFBF 96.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: transform 1s;  
}

.advantage__text-inactive {
    display: none;
    transition: all 0.5s;
}


/*Examples
===========================*/
.examples {
    padding-bottom: 146px;
}

.examples__wrapper {
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
    overflow: hidden;
    flex-wrap: wrap;
    margin-left: -68px;
    margin-right: -68px;
}

.examples__items {
    overflow: hidden;
}

.examples__wrapper-image {
    width: 296px;
}

.example-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.example__text-item {
    width: 296px;
    padding: 252px 27px;
    border-radius: 40px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.example__sticky-wrapper {
    height: 1327px;
    padding-bottom: 123px;
}

.item-tracking {
    background: #2F90FC;
    color: #FFFFFF;
}

.item-safety {
    background: #FFFFFF;
    color: #1D1D1D;
}

.example__map-wrapper {
    position: absolute;
    max-width: 271px;
    border-radius: 22px;
    overflow: hidden;
}

.item-map {
    background: #F5F5F5;
}

.item-battery {
    background: #FFE474;
    color: #FFFFFF;
}

.example__hand-wrapper {
    position:-webkit-sticky;
    position:sticky;
    top: 24px;
    z-index: 1;
    margin-top: -604px;
}

.example__hand {
    position: absolute;
    left: 35%;
    right: 0%;
    top: 9.84%;
    bottom: 0%;
}

.example-map {
    position: absolute;
}


/*Explanations
===========================*/
.explanations {
    margin-bottom: 200px;
}

.block__title {
    max-width: 1158px;
    margin: 0 auto 48px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #1D1D1D;
}

.explanations__wrapper {
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 200px;
    flex-wrap: wrap;
}

.explanation__download-item {
    background: #FFFFFF;
    border-radius: 40px;
    flex-grow: 1;
    padding: 128px 30px 0;

}

.explanation__connect-item {
    background: #1D1D1D;
    border-radius: 40px;
    padding: 128px 30px 128px;
    margin-bottom: 24px;
}

.explanation__enjoy-item {
    background: #FFFFFF;
    border-radius: 40px;
    padding-bottom: 39px;
}

.explanation__wrapper-items {
    flex-grow: 0.3;
}

.explanation__text-wrapper {
    max-width: 447px;
    margin: 0 auto;
}

.download__text-wrapper {
    margin-bottom: 32px;
}

.explanation__subtitle {
    font-size: 24px;
    line-height: 24px;
    background: linear-gradient(88.25deg, #2F90FC 3.55%, #73A6DF 47.79%, #BFBFBF 96.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 16px;
}

.explanation__text {
    font-size: 48px;
    line-height: 48px;
    background: linear-gradient(88.25deg, #2F90FC 3.55%, #73A6DF 47.79%, #BFBFBF 96.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.explanation__map-wrapper {
    position: absolute;
    top: 0;
}

.explanation__profile-wrapper {
    position: absolute;
    bottom: 0;
}

.explanation__text-enjoy {
    max-width: 447px;
    text-align: center;
    margin: 0 auto;
    line-height: 56px;
}

.phone-wrapper__enjoy {
    margin-bottom: 32px;
}

.home-line {
    position: absolute;
    background: #1D1D1D;
    border-radius: 3px;
    width: 139px;
    height: 5px;
    top: 89%;
    margin: 0 auto;
}

/*Don't worry
===========================*/
.dont-worry {
    margin-bottom: 200px;
}

.dont-worry__wrapper {
    background: #FFFFFF;
    border-radius: 40px;
    padding-top: 96px;
}

.dont-worry__map-wrapper {
    position: absolute;
    bottom: 0;
}

.dont-worry__profile-wrapper {
    position: absolute;
    bottom: 2.5%;
}


/*Footer
===========================*/
.footer {
    padding-bottom: 24px;
}

.join-us__title {
    max-width: 1000px;
}

.join-us__wrapper {
    display: flex;
    column-gap: 24px;
    margin-bottom: 40px;
    row-gap: 24px;
    flex-wrap: wrap;
}

.join-us__app-link {
    max-width: 322px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join-us__image-wrapper {
    max-width: 322px;
    width: 100%;
}

.join-us__links {
    flex-grow: 1;
    padding: 56px 48px;
    background: #FFFFFF;
    border-radius: 40px;
}

.join-us__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.join-us__QR-wrapper {
    background: #FFFFFF;
    border-radius: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-us__link {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    color: #E0E0E0;
    background: none;
}

.join-us__link:hover {
    color: #343434;
}

.join-us__link:active {
    color: #1D1D1D;
}

.link-wrapper {
    margin-bottom: 8px;
}

.link-wrapper:last-child {
    margin-bottom: 0;
}

.join-us__copyright {
    display: flex;
}

.join-us__additional-text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #1D1D1D;
}

.copyright {
    margin-right: 443px;
}

.privacy-policy {
    margin-right: 8px;
}

.privacy-policy:hover,
.conditions:hover {
    color: #E0E0E0;
}


/*Button
===========================*/
.button {
    display: flex;
    background: #1D1D1D;
    border-radius: 1000px;
    padding: 16px 0;
    align-items: center;
    max-width: 168px;
    width: 100%;
}

.button__apple-icon {
    margin-right: 14px;
}

.button__text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.button__content-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__button-download {
    max-width: 100%;
    padding: 24px 0;
}

.footer__button-download:hover,
.footer__button-download:active,
.button:hover,
.button:active {
    background: #3C3C43;
}

.footer__button-text {
    font-size: 24px;
    line-height: 32px;
}

.footer__button__apple-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

/*Button
===========================*/
.pop_up__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
    transition: all 0.3s linear;
    display: none;
}

.pop_up__overlay-active {
    display: block;
    transition: all 0.3s linear;
}

.pop_up__wrapper {
    display: none;
    z-index: 5;
    margin: 35px auto;
    position: fixed;
    padding: 0 15px;
    top: 0;
    left: 50%;
    max-width: 1390px;
    width: 100%;
    transform: translate(-50%, 0);

}

.pop_up__active {
    display: block;
}

.hidden {
    overflow: hidden;
}

.pop_up__container {
    background: rgb(29, 29, 29);
    border-radius: 40px;
    display: flex;
}

.pop_up__text-block {
    padding: 48px 127px 48px 48px;
    width: 50%;
}

.pop_up__photo-block {
    width: 50%;
    position: relative;
}

.pop_up__photo-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0 40px 40px 0;
    overflow: hidden;
}

.pop_up__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop_up__button {
    position: absolute;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 16px;
    display: block;
    padding: 19.21px;
    top: 48px;
    right: 48px;
    cursor: pointer;
}

.pop_up__button-close {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop_up__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.pop_up__title-color {
    background: linear-gradient(88.25deg, #2F90FC 3.55%, #73A6DF 47.79%, #BFBFBF 96.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form__lable {
    display: block;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.form__input {
    border: none;
    background: none;
    margin-bottom: 24px;
    height: 40px;
    width: 100%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    padding: 8px 0;
    border-bottom: 1px solid #FAFAFA;
    transition: all 0.5s ease 0s;
}

/* textarea {
    resize: none;
    width: 100%;
    height: 70px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FAFAFA;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    padding: 8px 0;
} */

.form__input:focus {
    outline: none;
    border-bottom: 1px solid rgba(47, 144, 252, 1);
}

.form__input._error {
    border-bottom: 1px solid rgb(205, 6, 6);
}

.form__input:last-child {
    margin-bottom: 0;
}

.pop_up__form {
    position: relative;
}

.pop_up__form::after {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 110%;
    height: 110%;
    background: rgb(29, 29, 29) url("../../assets/images/loading-gif.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form__input-text {
    resize: none;
    width: 100%;
    height: 70px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FAFAFA;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    padding: 8px 0;
}

.pop_up__form._sending::after {
    opacity: 1;
    visibility: visible;
}

.pop_up__form-wrapper-text {
    margin-bottom: 32px;
}

.pop_up__form-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
}

.form__button {
    padding: 16px 102px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1D1D1D;
    background: #FFFFFF;
    border-radius: 120px;
}

.form__text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #FFFFFF;
    text-decoration: none;
    max-width: 137px;
}


@media (min-width: 1600px) {
    .examples__wrapper {
        margin: 0 auto;
        max-width: 1576px;
    }
}

@media (max-width: 1439px) {
    .example__text-item__empty {
        order: 1;
    }

    .examples__wrapper {
        display: flex;
        justify-content: space-between;
        row-gap: 24px;
        column-gap: 24px;
        max-width: 1392px;
        padding: 0 16px;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 375px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .header-wrapper {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /*Promo
    ===========================*/
    .promo__wrapper {
        padding: 56px 0 96px;
    }

    .promo__hand-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 120px;
        z-index: 1;
        margin-bottom: 16px;
        overflow: hidden;
        height: 450px;
    }

    .promo__title {
        font-size: 40px;
        line-height: 48px;
    }

    .hand-wrapper {
        width: 348px;
        height: 409.72px;
        position: absolute;
        left: 54px;
        top: 39px;
        overflow: hidden;
    }

    .promo__hand,
    .phone-image,
    .map-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .iPhone-wrapper {
        width: 164.53px;
        height: 332.04px;
    }

    .map-wrapper {
        width: 146.11px;
        height: 315.68px;
    }

    .promo__text {
        font-size: 96px;
        line-height: 104px;
        margin-bottom: 120px;
    }

    .promo__text:last-child {
        margin-bottom: 0;
    }

    .text-first {
        margin-top: -48px;
    }

    .promo {
        margin-bottom: 96px;
    }


    /*About
    ===========================*/
    .about {
        margin-bottom: 96px;
    }

    .about__text {
        font-size: 32px;
        line-height: 40px;
    }


    /*Advantages
    ===========================*/
    .advantage__wrapper {
        padding: 56px 24px;
    }

    .advantage__titles-wrapper {
        margin-bottom: 32px;
    }

    .advantage__title {
        font-size: 72px;
        line-height: 72px;
    }

    .advantage__text {
        font-size: 32px;
        line-height: 40px;
    }

    .advantages {
        margin-bottom: 144px;
    }


    /*Example
    ===========================*/
    .examples {
        padding-bottom: 0;
    }

    .examples__wrapper-image,
    .example__text-item {
        width: 100%;
        height: 699px;
        display: flex;
        align-items: center;
    }

    .hidden-item{
        display: none;
    }

    .example__hand-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: translateX(56px);
    }

    .examples__items {
        margin-bottom: 16px;
    }

    .example__hand-wrapper {
        top: 120px;
        margin-top: 0;
    }

    .example__hand {
        width: 346px;
        position: absolute;
        left: -3px;
        top: 39px;
        overflow: hidden;
    }

    .example__sticky-wrapper {
        max-width: 343px;
        margin: 0 auto;
        height: 690px;
        padding-bottom: 155px;
    }


    /*Explanation
    ===========================*/
    .block__title {
        max-width: 343px;
        font-size: 40px;
        line-height: 48px;
        margin: 0 auto 32px;
    }

    .explanation__text {
        font-size: 28px;
        line-height: 32px;
    }

    .explanation__download-item {
        padding: 56px 24px 0;
    }

    .explanation__iPhone-wrapper {
        width: 253px;
    }

    .explanation-phone,
    .explanation-map,
    .explanation-map__enjoy,
    .dont-worry__map {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .explanation__profile-wrapper {
        position: absolute;
        bottom: 0;
        width: 224px;
    }

    .explanation__text-wrapper {
        max-width: 447px;
        margin: 0 auto;
    }

    .download__text-wrapper {
        margin-bottom: 32px;
    }

    .explanation__connect-item {
        padding: 56px 24px;
    }

    .explanation__iPhone-wrapper-enjoy {
        width: 253px;
    }

    .explanation__map-wrapper {
        width: 224px;
    }

    .home-line {
        width: 80px;
        height: 3px;
        top: 87%;
    }

    .explanation__enjoy-item {
        padding-bottom: 56px;
    }

    .explanations {
        margin-bottom: 96px;
    }

    .phone-wrapper {
        margin-bottom: -4px;
    }

    .explanations__wrapper {
        margin-bottom: 96px;
    }


    /*Dont-worry
    ===========================*/
    .dont-worry {
        margin-bottom: 96px;
    }

    .dont-worry__iPhone-wrapper {
        width: 299px;
    }

    .dont-worry__map-wrapper {
        width: 265px;
    }

    .dont-worry__profile-wrapper {
        width: 364px;
    }

    .dont-worry__wrapper {
        padding: 56px 10px 0;
    }

    /*Footer
    ===========================*/
    .join-us__app-link {
        max-width: 100%;
        row-gap: 16px;
    }

    .join-us__image-wrapper {
        max-width: 100%;
    }

    .join-us__wrapper {
        row-gap: 16px;
        margin-bottom: 48px;
    }

    .join-us__links {
        max-width: 100%;
        padding: 56px 39px 56px;
    }

    .join-us__link {
        font-size: 48px;
        line-height: 56px;
    }

    .join-us__copyright {
        display: flex;
        flex-direction: column-reverse;
    }

    .join-us__copyright-links {
        margin: 0 auto 24px;
    }

    .copyright {
        margin: 0 auto;
    }

    .pop_up__photo-wrapper {
        display: none;
    }

    .pop_up__text-block {
        padding: 56px 16px 48px;
        width: 100%;
    }

    .pop_up__photo-block {
        width: 56px;
        position: absolute;
        right: 16px;
        top: 0;
    }

    .pop_up__button {
        top: 16px;
        right: 16px;
        width: 32px;
        height: 32px;
        border-radius: 9px;
        padding: 6.8px;
    }

    .pop_up__wrapper {
        max-width: 373px;
        margin: 25px auto;
    }

    .pop_up__title {
        font-size: 40px;
        line-height: 48px;
    }

    .form__button {
        width: 100%;
    }

    .form__text {
        max-width: 177px;
        text-align: center;
        margin: 0 auto;
    }

    .pop_up__form-wrapper-text {
        margin-bottom: 17px;
    }

    .form__lable {
        margin-bottom: 4px;
    }

    .form__input-text {
        height: 40px;
    }
}